@model travel.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<div class="">
    <div class="login">
        <div style="display: grid; grid-template-columns: 50% 50%;">
            <div style="height: 80%;">
                <section id="loginForm">
                    <div class="resigter">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div style="margin-bottom: 32px;">
                                <h4>Tạo tài khoản mới</h4>
                            </div>
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                <div style="margin-bottom: 32px;">
                                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Nhập địa chỉ Email", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div style="margin-bottom: 32px;">
                                    @Html.PasswordFor(m => m.Password, new { placeholder = "Nhập mật khẩu", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div style="margin-bottom: 32px;">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new {placeholder = "Xác nhận mật khẩu", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div style="max-width: 65%;">
                                    <input type="submit" class="btn btn-default btn-block btn-dark" value="Tạo tài khoản"/>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            </div>
            <div style="height: 80%;">
                <img src="~/Content/images/register.jpg" alt="Alternate Text" style="width: 100%; height: 100%; object-fit: cover;" />
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
