<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hue Travel</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-reboot.min.css.map">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome-all.css">
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/612c72adec.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark text-light bg-dark">
        <div class="container">
            <div class="navbar-expand-lg">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home"><img src="~/Content/images/logo.jpg" class="img-fluid object-fit-cover mr-5" alt="Alternate Text" style="width: 150px;" /></a>
            </div>
            <div class="navbar-collapse collapse" style="justify-content:space-between">
                <ul class="nav navbar-nav">
                    <li class="pr-3 pl-3 border-right text-uppercase">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="pr-3 pl-3 border-right text-uppercase">@Html.ActionLink("Place", "Place", "Home")</li>
                    <li class="pr-3 pl-3 border-right text-uppercase">@Html.ActionLink("Food", "Food", "Home")</li>
                    <li class="pr-3 pl-3 border-right text-uppercase">@Html.ActionLink("Tour", "TravelTour", "Tours")</li>
                    <li class="pr-3 pl-3 border-right text-uppercase">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="pr-3 pl-3 text-uppercase">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <footer class="bg-dark text-white footer pt-5">
        <div class="container mt-5 mb-5">
            @Html.Action("FooterPartial", "Home")
        </div>

        <hr class="bg-white" />
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p>&copy; @DateTime.Now.Year - Man Man Stronger</p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-google-plus-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-skype"></i>
                    <i class="fab fa-instagram-square"></i>
                </div>
            </div>
        </div>

    </footer>
   
    @RenderSection("scripts", required: false)
</body>

</html>
