<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hue Travel</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link href="~/Content/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome-all.css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/612c72adec.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
    <div id="mainNav" class="navbar navbar-expand-lg navbar-dark text-light bg-dark">
        <div class="container">
            <div class="navbar-expand-lg">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home"><img src="~/Content/images/logo.jpg" class="img-fluid object-fit-cover mr-5" alt="Alternate Text" style="width: 230px; height: 70px;" /></a>
            </div>
            <div class="navbar-collapse collapse" style="justify-content:space-between">
                <ul class="nav navbar-nav">
                    <li class="pr-3 pl-3 border-right text-uppercase">@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                    <li class="pr-3 pl-3 border-right text-uppercase">@Html.ActionLink("Địa điểm", "Place", "Home")</li>
                    <li class="pr-3 pl-3 border-right text-uppercase">@Html.ActionLink("Ẩm thực", "Food", "Home")</li>
                    <li class="pr-3 pl-3 border-right text-uppercase">@Html.ActionLink("Tour", "TravelTour", "Tours")</li>
                    <li class="pr-3 pl-3 text-uppercase">@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
   
    <footer class="bg-dark p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 info">
                   <img class="logo" src="~/Content/images/logo.jpg">
                    <div>
                        <p>Sự hài lòng của các bạn là niềm hạnh phúc của chúng tôi.</p>
                        <br>
                        <p><b>Địa chỉ:</b></p>
                        <p>99 Hồ Đắc Di, Thành phố Huế</p>
                        <br>
                        <p><b>Phone:</b> 1234567890</p>
                        <p><b>Fax:</b> 1234567890</p>
                        <p><b>Email:</b> travel@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5 class="text-uppercase">Những bài viết gần đây</h5>
                    <div class="blog">
                        <a href="/Posts/Details/23">Địa điểm du lịch nổi bật - Chùa Thiên Mụ </a>
                        <span>March 23, 2020</span>
                    </div>
                    <hr>
                    <div class="blog">
                        <a href="/Posts/Details/25">Ẩm thực Huế - Những món ăn gây thương nhớ - Bún bò Huế </a>
                        <span>March 23, 2020</span>
                    </div>
                    <hr>
                    <div class="blog">
                        <a href="/Posts/Details/26">Tinh Hoa Cỗ Bắc </a>
                        <span>March 23, 2020</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5 class="text-uppercase">Bài viết nổi bật</h5>
                    <div class="gallery">
                        <img src="~/Content/images/banhcanhnampho.jpg" alt="1">
                        <img src="~/Content/images/bundau.jpg" alt="1">
                        <img src="~/Content/images/che.jpg" alt="1">
                        <img src="~/Content/images/chuatuhieu.jpg" alt="1">
                        <img src="~/Content/images/daiNoi.jpg" alt="1">
                        <img src="~/Content/images/bien.jpg" alt="1">
                        <img src="~/Content/images/cotco.jpg" alt="1">
                        <img src="~/Content/images/bien2.jpg" alt="1">
                        <img src="~/Content/images/hue2.jpg" alt="1">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-copyright ">
        <div class="container d-flex justify-content-between align-items-center">
            <span class="copyright">COPYRIGHT © 2020 - Man Man Stronger</span>
            <ul class="list-inline social-buttons mb-0">
                <li class="list-inline-item">
                    <a href="#" style="line-height: 30px;"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>



    @RenderSection("scripts", required: false)


    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="~/Content/agency.js"></script>
</body>

</html>
