@model travel.Models.PostPartialModelView

@{
    var foods = Model.Foods;
    var places = Model.Places;
}

<div class="search">
    <nav>
        <form action="/Tours/TravelTour/">
            <input class="form-control" type="text" placeholder="Tìm tour du lịch..." aria-label="Search" name="search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </nav>
</div>
    <div class="bg-dark" style="margin: 24px 0;">
        <h5 class="text-center bg-primary text-uppercase text-white p-3" style="margin-bottom: 0;">
            Địa điểm du lịch
        </h5>
        @foreach (var item in places)
        {
            <a href="/Posts/Details/@item.Id">
                <div class="leftLayout p-3">
                    <div class="d-flex align-items-center">
                        <div style="width: 140px;height: 80px;">
                            <img class="img-fluid object-fit-cover" src="@item.Image" alt="Card image cap">
                        </div>
                        <div class="text-white" style="padding: 16px; flex: 1;">@item.Title</div>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="bg-dark ood-left" style="margin: 24px 0;">
        <h5 class="text-center text-uppercase bg-primary text-white p-2" style="margin-bottom: 0;">
            Ẩm thực Huế
        </h5>
        <div class="food-leftlayout">
            @foreach (var item in foods)
            {
                <div style="padding: 12px;">
                    <a href="/Posts/Details/@item.Id" style="">
                        <div class="style-item">
                            <img class="img-fluid object-fit-cover position-relative" src="@item.Image" alt="Alternate Text" style="height: 120px; width: 100%;">
                            <div class="" style="font-size: 16px;font-weight: 500;line-height: 30px;text-align: center;">@item.Title</div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>




@*<div class="bg-light p-4 card mt-3">

    <h5 class="text-center bg-success text-white p-2 border">Địa điểm du lịch</h5>
    
        @foreach (var item in places)
        {
            <a href="/Posts/Details/@item.Id">
                <div class="card leftLayout m-2">
                    <div class="d-flex">
                        <div class="col-6"><img class="img-fluid object-fit-cover" src="@item.Image" alt="Card image cap"></div>
                        <div class="col-6 mt-3">@item.Title</div>
                    </div>
                </div>
            </a>
        }

</div>
<div class="card bg-dark p-4 food-left mt-3 mb-5">
    <h5 class="text-center bg-primary text-white p-2 border">Ẩm thực Huế</h5>
    <div class="d-flex flex-wrap">
        @foreach (var item in foods)
        {
            <a href="/Posts/Details/@item.Id">
                <div class="style-item mr-3">
                    <img class="img-fluid object-fit-cover position-relative" src="@item.Image" alt="Alternate Text" />
                    <div class="position-absolute food-left-item">@item.Title</div>
                </div>
            </a>
        }
    </div>
    </div>*@
