@model travel.Models.Post

@{
    ViewBag.Title = Model.Title;

}

<body class="post">
    <section class="banner-post mb-5">
        <div class="black-cover-2">
            <div class="title-post">
                <div>
                    <h1>@Model.Title</h1>
                    <h6 class="text-white" style="font-weight: 600; font-size: 20px;">@Html.ActionLink("HOME", "Index", "Home")</h6>
                </div>
            </div>
        </div>
        <img src="@Model.Image" alt="Alternate Text" class="cover-image" />
    </section>
    <section class="content">
        <div class="travelTour mt-5 mb-5">
            <div class="container">
                <div class="row">
                    @* Load partial post relations *@
                    <div class="col-md-4 col-sm-12 col-lg-4">
                        @Html.Action("RelatedPosts", "Posts")
                    </div>

                    <div class="col-sm-12 col-md-8 col-lg-8 border">
                        <div class="title">
                            <h3 class="mt-3 card-header-tabs">@Model.Title</h3>
                            <br />
                            <div class="container">
                                <div class="row">
                                    <div class="d-flex pr-3">
                                        <div class="pr-1"><i class="far fa-calendar-alt"></i></div>
                                        @*<div>@post.UpdatedAt.ToShortDateString()</div>*@
                                    </div>
                                    <div>
                                        <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A61393%2FTours%2FDetails%2F3&width=159&layout=button_count&action=like&size=large&share=true&height=46&appId" width="159" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                                                                 
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="post-food">
                            <div>
                                @Html.Raw(Model.Content)
                            </div>
                        </div>
                        <hr />
                        <section class="comment" style="width: 100%;">
                            <div class="container row" style="justify-content: space-between;">

                                <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5" data-width=""></div>


                            </div>
                        </section>
                    </div>
                    
                </div>
               
            </div>
        </div>
    </section>



<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0"></script>

</body>