@model travel.Models.Post

@{
    ViewBag.Title = Model.Title;

}

<body class="post">
    <section class="banner-post mb-5">
        <div class="black-cover-2">
            <div class="title-post">
                <div class="title-banner-item">
                    <h1>@Model.Title</h1>
                    <h6 style="font-weight: 600; font-size: 20px;">@Html.ActionLink("HOME", "Index", "Home")</h6>
                </div>
            </div>
        </div>
        <img src="@Model.Image" alt="Alternate Text" class="cover-image" />
    </section>
    <section class="content">
        <div class="travelTour mt-5 mb-5">
            <div class="container">
                <div class="row">
                    @* Load partial post relations *@
                    <div class="col-md-4 col-sm-12 col-lg-4">
                        @Html.Action("RelatedPosts", "Posts")
                    </div>

                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="title">
                            <div class="post-food">
                                <div>
                                    @Html.Raw(Model.Content)
                                </div>
                            </div>
                            <hr />
                            <div class="container">
                                <div class="row">
                                    <div>
                                        <div class="fb-like" data-href="http://localhost:1234/posts/Details/@Model.Id" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                                    </div>
                                </div>
                            </div>
                            
                            <section class="comment" style="width: 100%;">
                                <div class="container row" style="justify-content: space-between;">

                                    <div class="fb-comments" data-href="http://localhost:61393/Posts/Details/@Model.Id" data-numposts="5" data-width=""></div>

                                </div>
                            </section>
                        </div>
                    
                </div>
               
            </div>
        </div>
    </section>



<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0"></script>

</body>