@model travel.Models.Tour

@{
    ViewBag.Title = "Edit";
}
<link href="~/Content/sb-admin-2.min.css" rel="stylesheet">

<style>
    footer, #mainNav {
        display: none;
    }

    .footer-copyright{
        display: none;
    }

</style>

<div id="wrapper">

    <!-- Sidebar -->
      @Html.Partial("Sidebar")
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

           @Html.Partial("HeaderAdmin")
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Chỉnh sửa Tour</h1>
                </div>

                <div class="card">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" name="CreatedAt" value="@Model.CreatedAt" />
                        <div class="form-horizontal m-3">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">

                                <div class="col-md-10">
                                    <div>Tour du lịch</div>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-10">
                                    <div>Chính sách</div>
                                    @Html.EditorFor(model => model.Policy, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Policy, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">


                                <div class="col-md-10">
                                    <div> Lịch trình</div>
                                    @Html.EditorFor(model => model.Schedule, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Schedule, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <div>Ngày bắt đầu</div>
                                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field DateStart must be a date." data-val-required="The DateStart field is required." id="DateStart" name="DateStart" type="date" value="@Model.DateStart.ToString("yyyy-MM-dd")">
                                    @Html.ValidationMessageFor(model => model.DateStart, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <div>Nơi đến</div>
                                    @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <div>Địa điểm xuất phát</div>
                                    @Html.EditorFor(model => model.DeparturePlace, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DeparturePlace, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <div>Loại tour</div>
                                    @Html.DropDownList("CategoryTourId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CategoryTourId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2" for="Image">Hình ảnh</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="Image">Giá tiền</label>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" id="Price" name="Price" type="number" step="2" min="10" max="10000" value="100">
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Lưu" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
     
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


