@model IEnumerable<travel.Models.Tour>

<link href="~/Content/sb-admin-2.min.css" rel="stylesheet">
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet">

<style>


    footer, #mainNav {
        display: none;
    }

    .footer-copyright {
        display: none;
    }
</style>

<div id="wrapper">
    <!-- Sidebar -->
    @Html.Partial("Sidebar")
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            @Html.Partial("HeaderAdmin")
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Quản lý Tour</h1>
                    <a class="btn btn-primary d-sm-inline-block d-none shadow-sm" href="/admin/createtour"><i class="fas fa-plus"></i> Tạo tour mới</a>
                </div>

                <div class="card shadow mb-4">

                    @{
                        ViewBag.Title = "Tour";
                    }
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Danh sách tour</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>
                                            Tour du lịch
                                        </th>
                                        <th>
                                            Ngày bắt đầu
                                        </th>
                                        <th>
                                            Nơi đến
                                        </th>
                                        <th>
                                            Xuất phát
                                        </th>
                                        <th>
                                            Giá
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @item.DateStart.ToString("dd/MM/yyyy")
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Destination)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DeparturePlace)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>
                                                <a href="/admin/EditTour/@item.Id" class="btn btn-sm btn-primary"><i class="fas fa-pen"></i></a>
                                                <a href="/admin/Deletetour/@item.Id" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<script src="~/Scripts/sb-admin-2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>


<!-- Page level plugins -->
<script src="~/Scripts/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
