
@model travel.Models.BookingModelView
@{
    ViewBag.Title = "BookingTour";
    var user = Model.user;
    var tour = Model.tour;
}

<div class="main mt-5 mb-5">
    <div class="container wp-banner">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="tour border p-3 shadow">
                    <form method="POST">
                        <input id="tourId" hidden value="">
                        <div style="border: 1px;">
                            <h4> 1. Điền thông tin liên hệ</h4>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Họ tên</label>
                                <input type="text" class="form-control" id="exampleInputName" placeholder="Nhập họ và tên" name="fullname">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Số điện thoại</label>
                                <input name="phoneNumber" type="text" class="form-control" value="@user.PhoneNumber" id="exampleInputPhone" placeholder="Nhập số điện thoại">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Gmail</label>
                                <input name="gmail" type="text" class="form-control" id="exampleInputGmail" value="@user.Email" aria-describedby="emailHelp" placeholder="Nhập gmail">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Ngày khởi hành</label>
                                <input type="date" class="form-control" id="date_start" name="date_start">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Số người lớn</label>
                                <input name="numberOfPeople" type="number" class="form-control" id="numberOfAduld" placeholder="Nhập số người lớn" onchange="handlePrice()">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Số trẻ em</label>
                                <input name="numberOfChild" type="number" class="form-control" id="numberOfChild" placeholder="Nhập số trẻ em" onchange="handlePrice()">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <hr>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <table class="table table-striped  border p-3 shadow">
                    <tr>
                        <th scope="col"><h4 class="mb-0">2. Xác nhận thông tin tour</h4></th>
                    </tr>
                    <tr>
                        <th scope="row"><img style="width: 100% ; height: 250px;" class="img-fluid object-fit-cover" src="~/Content/images/cautrangtien.jpg"></th>
                    </tr>
                    <tr>
                        <th scope="row"><p>@tour.Name</p></th>
                    </tr>
                </table>
                <table class="border p-3 shadow" style="background-color: #f6ebf9;">
                    <tr>
                        <th id="submit_booking" style="width:350px" scope="col" class="p-3 mb-2 text-white btn btn-primary btn-block"><h5 class="mb-0">Thông tin thanh toán</h5></th>
                    </tr>
                    <tr>
                        <th scope="row" class="p-2"><span id="adult"></span> người lớn  x @tour.Price</th>
                    </tr>
                    <tr>
                        <th scope="row" class="p-2"><span id="children">0</span> trẻ em x 80% x @tour.Price</th>
                    </tr>
                    <tr>
                        <th scope="row" class="p-2">Tổng số tiền: <span id="totalPrice"></span> $</th>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <table class="table table-striped border p-3 shadow">
                    <tr>
                        <th scope="col"><h4 class="mb-0">3.Lưu ý khi đặt tour</h4></th>
                    </tr>
                    <tr>
                        <th scope="row">Bạn muốn đặt tour khác?</th>
                    </tr>

                    <th scope="row">
                        Lưu ý:
                        <ul class="pl-3">
                            <li>Quý khách có thể thanh toán trước bằng thẻ tại đây.</li>
                            <li>HueTravel sẽ liên hệ với quý khách (qua email hoặc điện thoại) trong vòng 30 phút (T2-CN: 08:00 - 23:00) để xác nhận tour và thời hạn thanh toán.</li>
                            <li>Quý khách sẽ thanh toán (tại nhà, tại HueTravel, chuyển khoản hay thẻ) sau khi có xác nhận còn tour từ HueTravel.</li>
                            <li>Trường hợp Quý khách muốn xác nhận ngay, vui lòng liên hệ với  </li>
                        </ul>
                    </th>
                </table>
                <button class="btn-danger btn btn-block font-weight-bold" type="submit" name="submit" value="submit">CHỐT: ĐẶT TOUR</button>
            </div>
        </div>
    </div>
</div>
<script>
    function handlePrice() {
        var x = document.getElementById('numberOfAduld').value;
        document.getElementById('adult').innerHTML = x
        var y = document.getElementById('numberOfChild').value;
        document.getElementById('children').innerHTML = y;

        var totalPrice = x * @tour.Price + y * 0.8 * @tour.Price;
        document.getElementById('totalPrice').innerHTML = totalPrice;

    }
</script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
