@model travel.Models.Tour

@{
    ViewBag.Title = "Details";
}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            @Html.Action("RelatedPosts", "Posts")
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h2>
                @Html.DisplayFor(model => model.Name)
            </h2>
            <div>
                <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A61393%2FTours%2FDetails%2F3&width=159&layout=button_count&action=like&size=large&share=true&height=46&appId" width="159" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>   </div>
            <div class="tour-details-img">
                <img class="img-fluid object-fit-cover" src="@Model.Image" alt="Buồn qué...tớ mún ở đây là 1 list ảnh cơ hichic" />
            </div>
            <div class="card mt-4 p-3">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-lg-10">
                        <dl class="dl-horizontal">
                            <dt>
                              Id
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CategoryTour.Name)
                            </dd>

                            <dt>
                              Tour du lịch:
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                               Chính sách
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Policy)
                            </dd>

                            <dt>
                               Lịch trình
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Schedule)
                            </dd>

                            <dt>
                               Ngày khởi hành
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DateStart)
                            </dd>

                            <dt>
                               Nơi đến
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Destination)
                            </dd>

                            <dt>
                                Địa điểm xuất phát
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DeparturePlace)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2">
                        <div class="text-success" style="font-weight: 600; font-size: 30px;">@Model.Price $</div>
                        <a class="btn btn-primary" href="/Tours/BookingTour/@Model.Id">Đặt ngay</a>
                    </div>
                </div>
            </div>
            <div class="card border-primary mt-4 mb-4">
                <div class="card-header accordion d-flex" style=""><div>Giá bao gồm</div><i class="fas fa-chevron-circle-down"></i></div>
                <pre class="panel">
    GIÁ TOUR DÀNH CHO KHÁCH LẺ GHÉP ĐOÀN

    GIÁ TOUR VNĐ/ KHÁCH

    165.000

    Giá tour dành cho khách lẻ ghép đoàn. Không áp dụng các ngày Lễ, Tết.
 

    GIÁ TOUR BAO GỒM:

    - Xe máy lạnh đưa đón tham quan suốt chương trình.
    - Nước suối trên đường (1 chai/người/ngày).
    - Hướng dẫn viên tiếng Anh/Việt phục vụ suốt tuyến
    - Bảo hiểm du lịch theo quy định bảo hiểm Việt Nam với mức tối đa
     là 40.000.000 VNĐ

    GIÁ TOUR KHÔNG BAO GỒM:

    - Chi phí cá nhân ăn uống
    - Vé tham quan địa điểm du lịch
    - Chi phí phát sinh
    - Thuế VAT,...

    LƯU Ý:
            </pre>
            </div>
            <div class="card border-warning">
                <div class="card-header accordion">Lịch trình <i class="fas fa-chevron-circle-down"></i></div>
                <div class="panel">
                    <div style="margin-left: 20px;">@Model.Schedule</div>
                </div>
            </div>
            <div class="card border-success mt-4">
                <div class="card-header accordion">Chính sách <i class="fas fa-chevron-circle-down"></i></div>
                <pre class="panel">
    GIÁ TOUR TRẺ EM

    Trẻ em dưới 3 tuổi miễn phí (ngồi chung ghế trên tàu & xe với cha mẹ).
    Trẻ em từ 3 – 10 tính 50% giá tour. Từ 11 tuổi trở lên tính giá tour
    như người lớn.
    Hai người lớn chỉ được kèm 1 trẻ em tính giá trẻ em. Từ bé thứ 2 
    tính giá tour như người lớn.
    Vé Củ Chi tính theo chiều cao. Trẻ em từ 1m3 tính giá vé bằng người lớn


    ĐIỀU KIỆN HỦY, HOÃN TOUR:

    Hủy trước 7 ngày khởi hành không tính phí.
    Hủy trước 5 ngày khởi hành 50% tổng chi phí tour.
    Hủy trước 3 ngày khởi hành 80% tổng chi phí tour.
    Hủy trước 1 ngày khởi hành 100% tổng chi phí tour.


    THÔNG TIN CẦN BIẾT

    Quý khách vui lòng có mặt lúc 07 giờ 45 phút (hoặc 12 giờ 45 phút) tại 
    Trung tâm lữ hành Quốc tế Trippy – số 22 Bùi Viện, quận 1, TP.Hồ Chí Minh.
    Vui lòng cung cấp đầy đủ họ tên, năm sinh các khách đi tour để mua 
    bảo hiểm du lịch.
    Đem theo trang phục gọn gàng, giày bệt, giày thể thao.
    Mang theo nón, kính, dù,….
    Trippy không chịu trách nhiệm cũng như không giải quyết các vấn đề 
    liên quan khi Quý khách đến trễ so với thời gian tập trung đã quy định 
    và không đúng hẹn tại các điểm tham quan.
    Trippy được quyền từ chối không phục vụ hoặc không cho phép tiếp tục
    tham gia tour đối với những khách hàng có sử dụng bia, rượu, chất kích thích,
    có các hành vi thiếu lịch sự, khiếm nhã, cố tình phá hoại, thiếu tôn trọng
    hướng dẫn viên hay những hành khách đi cùng trong tour.
    Do tính chất tour đi ghép khách Việt Nam với khách nước ngoài, và số lượng 
    khách nước ngoài thường nhiều hơn nên Hướng dẫn viên sẽ thuyết minh tiếng Anh
    nhiều hơn tiếng Việt.
    Thứ tự các điểm tham quan và lộ trình chuyến đi có thể thay đổi tùy theo 
    tình hình thực tế nhưng vẫn đảm bảo đầy đủ các điểm tham quan như chương trình.
    Rất mong nhận được sự hợp tác của quý khách. Thành thật xin lỗi nếu đã làm 
    quý khách cảm thấy bất tiện.


    KÍNH CHÚC QUÝ KHÁCH MỘT CHUYẾN ĐI VUI VẺ!
                </pre>
            </div>
        </div>

    </div>
</div>



<script src="~/Scripts/owl.carousel.min.js"></script>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>

